@{
	ViewData["Title"] = "Ana Sayfa";
}

<div class="px-4 py-5 my-5 text-center">
	<div class="mb-4">
		<i class="fa-solid fa-hand text-success" style="font-size: 5rem;"></i>
	</div>
	<h1 class="display-5 fw-bold text-body-emphasis">KOÜDAK Malzeme Takip Sistemi</h1>
	<div class="col-lg-6 mx-auto">
		<p class="lead mb-4">
			Hiç bir şey olmuyor. Ben kavgada bıçaklandım, hissetmedim. Kavgaya devam ettim, sonra baktım çocuk 2-3 kere
			daha soktu o zaman farkına vardım. Yine de kavgaya devam ettim. Zaten 30 40 sn sonra bacağında hissizlik
			oluşuyor ve otamatik yere düşüyorsun istemsizce. Yani bıçaklanınca pek bir şey olmuyor ama iyileşme süreci
			biraz sancılı.
		</p>
		<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
			<a asp-controller="Emanet" asp-action="Ver" class="btn btn-success btn-lg px-4 gap-3">
				</i> Malzeme Al
			</a>
		</div>
	</div>
</div>